ul.list1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkred;
  border-style: groove;
  border-color: black;
}

li.list2 {
  float: left;
}

li.list2 a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.list2 a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.title {
  background: firebrick;
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
  border-style: groove;
  border-color: black;
}

.footer {
  background: darkred;
  font-size: 20px;
  margin-top: 10px;
  border-style: groove;
  border-color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  margin-bottom: 10px;
}

body {
  background: gainsboro;
}

.col-1 {
  border-style: solid;
  border-color: black;
  background: firebrick;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 5px;
  height: 650px;
  text-align: center;
}

.image {
  border: 10px ridge burlywood;
  margin-top: 16px;
  margin-left: 48px;
  margin-right: 48.5px;
}

.socials {
  border-color: black;
  border-style: solid;
  background-color: firebrick;
  align-self: stretch;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 5px;
}

.right {
  border-style: solid;
  border-color: black;
  background: firebrick;
  margin-top: 10px;
  padding-left: 5px;
  text-align: center;
}

.image2 {
  border: 10px ridge burlywood;
}

.image3 {
  border: 10px ridge burlywood;
  margin-top: 90px;
  margin-right: 6px;
}
